<div class="ui-carousel-container">
    <p-carousel [value]="movies" [numVisible]="5" [numScroll]="4"  [autoplayInterval]="5000" [circular]="false" 
        [responsiveOptions]="responsiveOptions" style="background-color: #9A9A9A ; width:100%;">
        <p-header>
            <h2 style="color: #9A9A9A; text-align: center;">Vizyondaki Filmler</h2>
        </p-header>
        <ng-template let-movie pTemplate="item">
            <div class="movie-details">
                <div class="p-grid moviep-nogutter">
                    <div class="p-col-12 pimg">
                        <img src="{{movie.pngBase64}}" />
                    </div>
                    <div class="p-col-12 moviec-data">
                        <div class="pmovie-title" >{{movie.name}}</div>
                        <div class="pmovie-subtitle" >{{movie.genre}} | {{movie.duration}} dk</div>

                    </div>
                </div>
            </div>
        </ng-template>
        <p-footer>
            <h6 style="color: #9A9A9A; text-align: right;"><a [routerLink]="['/movie-list']">Vizyondaki filmleri gör</a></h6>
            <h4 style="color: #9A9A9A; text-align: center;">Vizyondaki filmlerle sinema eğlencen son hız devam etsin... </h4>
        </p-footer>
         
                
     
    </p-carousel>