<div class="row">
  <div class="col-lg-3">
    <p-panel header="Sorgulama Kriteri" [toggleable]="true" [style]="{'margin-bottom':'20px', 'margin-left':'20px'}  ">
      <div class="form-group">
        <span class="ui-float-label" [style]="{'margin-top':'25px'}">
          <input type="text" size="30" pInputText [(ngModel)]='criteria.name'>
          <label for="float-input">Film Adı</label>
        </span>
        <span class="ui-float-label" [style]="{'margin-top':'25px'}">
          <input type="text" size="30" pInputText [(ngModel)]='criteria.genre'>
          <label for="float-input">Film Türü</label>
        </span>
      </div>
      <div class="row" style="margin-left: 1px;">
        <button type="submit" class=" btn btn-info btn-round" (click)="getMovie()"> Sorgula
        </button>
        <button type="button" class="btn btn-warning btn-round" (click)="cleanSelectedMovie()"> Temizle
        </button>
        <button class="btn btn-primary btn-round" (click)="openAddDialog( )"> Ekle </button>
        <app-cnm-modal #addViewComponent (onConfirm)="addMovie()">
          <ng-template #header> Film Ekle</ng-template>
          <ng-template #saveTemplate>
            <span class="ui-float-label" [style]="{'margin-top':'25px'}">
              <input class="form-control" type="text" pInputText [(ngModel)]="record.addName">
              <label for="float-input">Film Adı</label>
            </span>
            <span class="ui-float-label" [style]="{'margin-top':'25px'}">
              <input class="form-control" type="text" pInputText [(ngModel)]="record.addGenre">
              <label for="float-input">Tür</label>
            </span>
            <span class="ui-float-label" [style]="{'margin-top':'25px'}">
              <input class="form-control" type="text" pInputText [(ngModel)]="record.addDuration">
              <label for="float-input">Film Süresi (dk)</label>
            </span>
            <span class="ui-float-label" [style]="{'margin-top':'25px'}">
              <input class="form-control" type="text" pInputText [(ngModel)]="record.addPosterName">
              <label for="float-input">Poster Adı</label>
            </span>

            <span class="ui-float-label" [style]="{'margin-top':'25px'}">
              <p-calendar [(ngModel)]="value" dateFormat="dd.mm.yy" [style]="{'width':'100%'}"
                [inputStyle]="{'width':'100%'}"></p-calendar>
              <label for="float-input">Vizyon Tarihi</label>
            </span>

            <span class="ui-float-label" [style]="{'margin-top':'25px'}">
              <textarea rows="3" cols="59" autoResize="autoResize" pInputTextarea
                [(ngModel)]="record.addDescription"></textarea>
              <label for="float-input">Açıklama</label>
            </span>
            <div>

              <label for="file-upload" class="custom-file-upload">
                  <i class="fa fa-upload fa-1x iconup" aria-hidden="true"></i><span>Poster Yükle</span>
              </label>

              <input id="file-upload" type="file" (change)="pictureSelect($event.target.files)"
                  accept="image/x-png,image/jpg,image/jpeg" /><br>
            </div>

          </ng-template>
        </app-cnm-modal>
      </div>
    </p-panel>
  </div>
  <div class="col-lg-9">
    <p-panel header="Film Listesi" [toggleable]="true" *ngIf='sorgulandi'
      [style]="{'margin-bottom':'25px', 'margin-right':'20px'}">
      <p-table [columns]="cols" [value]="Movie" [autoLayout]="true" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th>Güncelle</th>
            <th>Sil</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              <div *ngIf="col.type == 'date'; then dateBlock else rowsBlock"></div>
              <ng-template #dateBlock>{{rowData[col.field] | date:'dd.MM.yyyy'}}</ng-template>
              <ng-template #rowsBlock>{{rowData[col.field]}}</ng-template>
            </td>
            <td>
              <button class="btn btn-warning btn-icon btn-round btn-sm" (click)="openUpdateDialog(rowData, rowData.id)">
                <i class="now-ui-icons shopping_tag-content"></i>
              </button>
              <app-cnm-modal #updateViewComponent (onConfirm)="updateMovie()">
                <ng-template #header> Salon Bilgileri</ng-template>
                <ng-template #saveTemplate>
                  <span class="ui-float-label" [style]="{'margin-top':'25x'}">
                    <input class="form-control" type="text" size="30" pInputText [(ngModel)]='record.name'>
                    <label for="float-input">Film Adı</label>
                  </span>

                  <span class="ui-float-label" [style]="{'margin-top':'25px'}">
                    <input class="form-control" type="text" size="30" pInputText [(ngModel)]='record.genre'>
                    <label for="float-input">Film Türü</label>
                  </span>

                  <span class="ui-float-label" [style]="{'margin-top':'25px'}">
                    <input class="form-control" type="text" size="30" pInputText [(ngModel)]='record.duration'>
                    <label for="float-input">Film Süresi (dk)</label>
                  </span>

                  <span class="ui-float-label" [style]="{'margin-top':'25px'}">
                    <input class="form-control" type="text"   size="30" pInputText [(ngModel)]="record.posterName">
                    <label for="float-input">Poster Adı</label>
                  </span>

                  <span class="ui-float-label" [style]="{'margin-top':'25px'}">
                    <p-calendar [(ngModel)]="updateDate" dateFormat="dd.mm.yy"  [style]="{'width':'100%'}"
                      [inputStyle]="{'width':'100%'}"></p-calendar>
                    <label for="float-input">Vizyon Tarihi</label>
                  </span>

                  <span class="ui-float-label" [style]="{'margin-top':'25px'}">
                    <textarea rows="3" cols="59" autoResize="autoResize" pInputTextarea
                      [(ngModel)]='record.description'></textarea>
                    <label for="float-input">Açıklama</label>
                  </span>
                </ng-template>
              </app-cnm-modal>
            </td>
            <td>
              <button class="btn btn-danger btn-icon btn-round btn-sm" (click)="openDeleteDialog(rowData.id)">
                <i class="now-ui-icons ui-1_simple-remove"></i>
              </button>
              <app-cnm-confirm-dialog (onConfirm)="deleteMovie()"></app-cnm-confirm-dialog>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>