<div class="row">
    <div class="col-lg-3 col-md-12">
        <div class="movie-detail-query">
            <button class="btn btn-primary btn-round btn-lg" (click)="visionMovieGetList()">Vizyondaki Filmler</button>
            <button class="btn btn-primary btn-round btn-lg" (click)="MovieGetList()">Tüm Filmler</button>
            <button type="submit" class="btn btn-primary btn-round btn-lg" *ngIf='gueryVisionMovie'
                (click)="visionMovieGetList()"> SONUÇLARI
                LİSTELE
            </button>
            <button type="submit" class="btn btn-primary btn-round btn-lg" *ngIf='gueryMovie' (click)="MovieGetList()">
                SONUÇLARI
                LİSTELE
            </button>
            <span class="ui-float-label" [style]="{'margin-top':'25px'}">
                <input type="text" size="30" pInputText [(ngModel)]='criteria.name'>
                <label for="float-input">Film Adı</label>
            </span>
            <span class="ui-float-label" [style]="{'margin-top':'25px'}">
                <input type="text" size="30" pInputText [(ngModel)]='criteria.genre'>
                <label for="float-input">Film Türü</label>
            </span>
        </div>
    </div>
    <div class="col-lg-9 col-md-12" *ngIf='getVisionMovieList'>
        <div class="movie-border">
            <div class="row card-group">
                <div *ngFor="let movie of movies" cols="4">
                    <app-cnm-card [movieName]="movie.name" [imagePath]="movie.pngBase64" [duration]="movie.duration"
                        [genre]="movie.genre">
                        <ng-template #detailTemplate>
                            <button class="btn btn-primary btn-round">
                                <a [routerLink]="['/movie-detail', movie.id]">DETAY</a> </button>
                        </ng-template>
                        <ng-template #ticketTemplate>
                            <button class="btn btn-primary btn-round">
                                <a [routerLink]="['/movie-ticket', movie.id]">BİLET AL</a> </button>
                        </ng-template>
                    </app-cnm-card>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-12" *ngIf='getMovieList'>
        <div class="movie-border">
            <div class="row card-group">
                <div *ngFor="let movie of movies" cols="4">
                    <app-cnm-card [movieName]="movie.name" [imagePath]="movie.pngBase64" [duration]="movie.duration"
                        [genre]="movie.genre">
                        <ng-template #detailTemplate>
                            <button class="btn btn-primary btn-round">
                                <a [routerLink]="['/movie-detail', movie.id]">DETAY</a> </button>
                        </ng-template>
                        <ng-template #ticketTemplate></ng-template>
                    </app-cnm-card>
                </div>
            </div>
        </div>
    </div>
</div>