<div class="row">
    <div class="col-lg-3 col-md-12">
        sorgu
    </div>

    <div class="col-lg-9 col-md-12">
        <div class="row card-group">
            <div *ngFor="let movie of movies" cols="4">
                <app-cnm-card [movieName]="movie.name" [imagePath]="movie.posterName" [duration]="movie.duration"
                    [genre]="movie.genre">
                    <ng-template #detailTemplate>
                        <button class="btn btn-primary btn-round" > 
                            <a [routerLink]="['/movie-detail', movie.id]">DETAY</a> </button>
                    </ng-template>
                </app-cnm-card>
            </div>
        </div>
    </div>
</div>

