<nav class="navbar navbar-expand-lg bg-primary fixed-top " color-on-scroll="500">
  <div class="container">
    <div class="dropdown button-dropdown">
      <div ngbDropdown>
        <a class="dropdown-toggle" ngbDropdownToggle>
          <span class="button-bar"></span>
          <span class="button-bar"></span>
          <span class="button-bar"></span>
        </a>
        <div ngbDropdownMenu>
          <a class="dropdown-header">Menu</a>
          <a class="dropdown-item" routerLink="moviehouse"> Sinema Salonu <span class="sr-only">(current)</span></a>
          <a class="dropdown-item" routerLink="movie">Filmler <span class="sr-only">(current)</span></a>
          <a class="dropdown-item" routerLink="session">Seanslar <span class="sr-only">(current)</span></a>
          <a class="dropdown-item" routerLink="visionmovie">Vizyondaki Filmler <span
              class="sr-only">(current)</span></a>
          <!-- <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="#">Separated link</a> -->

        </div>
      </div>
    </div>
    <div class="navbar-translate">
      <a class="navbar-brand" [routerLink]="['/index']" placement="bottom">
        NECİNEMA
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
        (click)="sidebarToggle()">
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>

    <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="movie-list"> Filmler <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://creativetimofficial.github.io/now-ui-kit-angular/documentation/tutorial"
            target="_blank">
            <i class="now-ui-icons files_paper"></i>
            <p>Documentation</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>