<div class="row">
    <div class="col-lg-3">
        <p-panel header="Sorgulama Kriteri" [toggleable]="true"
            [style]="{'margin-bottom':'25px', 'margin-left':'20px'}  ">
            <span class="ui-float-label" [style]="{'margin-top':'25px'}">
                <p-dropdown id="float-input" [autoDisplayFirst]="false" [options]="movies" [(ngModel)]="queryMovie"
                    [showClear]="true"></p-dropdown>
                <label for="float-input">Film</label>
            </span>
            <span class="ui-float-label" [style]="{'margin-top':'25px'}">
                <p-dropdown id="float-input" [autoDisplayFirst]="false" [options]="movieHouses"
                    [(ngModel)]="queryMovieHouse" [showClear]="true"></p-dropdown>
                <label for="float-input">Sinema Salonu</label>
            </span>
            <span class="ui-float-label" [style]="{'margin-top':'25px'}">
                <p-dropdown id="float-input" [autoDisplayFirst]="false" [options]="sessions" [(ngModel)]="guerySession"
                    [showClear]="true"></p-dropdown>
                <label for="float-input">Seans</label>
            </span>
            <span class="ui-float-label" [style]="{'margin-top':'25px'}">
                <p-calendar [(ngModel)]="gueryValue" dateFormat="dd.mm.yy" > </p-calendar>
                <label for="float-input">Tarih</label>
            </span>
            <div class="row" style="margin-left: 1px;">
                <button type="submit" class=" btn btn-info btn-round" (click)="getVisionMovie()"> Sorgula
                </button>
                <button type="button" class="btn btn-warning btn-round" (click)="cleanSelectedVisionMovie()"> Temizle
                </button>
                <button class="btn btn-primary btn-round" (click)="openAddDialog( )"> Ekle </button>
            </div>
            <app-cnm-modal #addViewComponent (onConfirm)="addVisionMovie()">
                <ng-template #header>Vizyondaki Filmleri Ekle</ng-template>
                <ng-template #saveTemplate>
                    <span class="ui-float-label" [style]="{'margin-top':'25px'}">
                        <p-dropdown id="float-input" [autoDisplayFirst]="false" [options]="movies"
                            [(ngModel)]="selectedMovie" [showClear]="true"></p-dropdown>
                        <label for="float-input">Film</label>
                    </span>

                    <span class="ui-float-label" [style]="{'margin-top':'25px'}">
                        <p-dropdown id="float-input" [autoDisplayFirst]="false" [options]="movieHouses"
                            [(ngModel)]="selectedMovieHouse" [showClear]="true"></p-dropdown>
                        <label for="float-input">Sinema Salonu</label>
                    </span>

                    <span class="ui-float-label" [style]="{'margin-top':'25px'}">
                        <p-dropdown id="float-input" [autoDisplayFirst]="false" [options]="sessions"
                            [(ngModel)]="selectedSession" [showClear]="true"></p-dropdown>
                        <label for="float-input">Seans</label>
                    </span>
                    
                    <span class="ui-float-label" [style]="{'margin-top':'25px'}">
                        <input id="float-input" type="text" pInputText [(ngModel)]="record.price">
                        <label for="float-input">Fiyat</label>
                    </span>

                    <span class="ui-float-label" [style]="{'margin-top':'25px'}">
                        <p-calendar [(ngModel)]="value" dateFormat="dd.mm.yy" ></p-calendar>
                        <label for="float-input">Tarih</label>
                    </span>

                  
                </ng-template>
            </app-cnm-modal>
        </p-panel>
    </div>
    <div class="col-lg-9">
        <p-panel header="Vizyondaki Filmler Listesi" [toggleable]="true" *ngIf='sorgulandi'
            [style]="{'margin-bottom':'25px', 'margin-right':'20px'}">
            <p-table [columns]="cols" [value]="visionMoviesList" [autoLayout]="true" [paginator]="true" [rows]="10">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th>Güncelle</th>
                        <th>Sil</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns">
                            <div *ngIf="col.type == 'date'; then dateBlock else rowsBlock"></div>
                            <ng-template #dateBlock>{{rowData[col.field] | date:'dd.MM.yyyy'}}</ng-template>
                            <ng-template #rowsBlock>{{rowData[col.field]}}</ng-template>
                        </td>
                        <td>
                            <button class="btn btn-warning btn-icon btn-round btn-sm"
                                (click)="openUpdateDialog(rowData, rowData.id)">
                                <i class="now-ui-icons shopping_tag-content"></i>
                            </button>
                            <app-cnm-modal #updateViewComponent (onConfirm)="updateVisionMovie()">
                                <ng-template #header> Salon Bilgileri</ng-template>
                                <ng-template #saveTemplate>
                                    <span class="ui-float-label" [style]="{'margin-top':'25px'}">
                                        <p-dropdown id="float-input" [autoDisplayFirst]="false" [options]="movies"
                                            [(ngModel)]="selectedUpdateMovie" [showClear]="true"></p-dropdown>
                                        <label for="float-input">Film</label>
                                    </span>

                                    <span class="ui-float-label" [style]="{'margin-top':'25px'}">
                                        <p-dropdown id="float-input" [autoDisplayFirst]="false" [options]="movieHouses"
                                            [(ngModel)]="selectedUpdateMovieHouse" [showClear]="true"></p-dropdown>
                                        <label for="float-input">Sinema Salonu</label>
                                    </span>

                                    <span class="ui-float-label" [style]="{'margin-top':'25px'}">
                                        <p-dropdown id="float-input" [autoDisplayFirst]="false" [options]="sessions"
                                            [(ngModel)]="selectedUpdateSession" [showClear]="true"></p-dropdown>
                                        <label for="float-input">Seans</label>
                                    </span>
                                    <div>
                                        <span class="ui-float-label" [style]="{'margin-top':'25px'}">
                                            <p-calendar [(ngModel)]="updateDate" dateFormat="dd.mm.yy"> </p-calendar>
                                            <label for="float-input">Tarih</label>
                                        </span>
                                    </div>
                                    <div>
                                        <span class="ui-float-label" [style]="{'margin-top':'25px'}">
                                            <input id="float-input" type="text" pInputText
                                                [(ngModel)]="record.updatePrice">
                                            <label for="float-input">Fiyat</label>
                                        </span>
                                    </div>
                                </ng-template>
                            </app-cnm-modal>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-icon btn-round btn-sm"
                                (click)="openDeleteDialog(rowData.id)">
                                <i class="now-ui-icons ui-1_simple-remove"></i>
                            </button>
                            <app-cnm-confirm-dialog (onConfirm)="deleteVisionMovie()"></app-cnm-confirm-dialog>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-panel>
    </div>
</div>
<p-toast position="top-right"></p-toast>