<div class="page-header" style="height: 100vh; max-height: 900px;" filter-color="orange">
    <div class="page-header-image"
        style="background-image:url('https://image.freepik.com/free-vector/movie-time-neon-sign_24908-56073.jpg')">
    </div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <div>
                    <div class="header header-primary text-center">
                        <div class="logo-container">
                            <img src="assets/img/now-logo.png" alt="" style="height: 80px; width: 80px; margin-bottom: 40px;">
                        </div>
                        <h3>Kullanıcı Bilgilerini Gir</h3>
                    </div>
                    <p></p>
                    <div class="content">
                        <div class="input-group form-group-no-border input-lg"
                            [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="now-ui-icons users_circle-08"></i></span>
                            </div>
                            <input class="form-control" type="text" size="30" pInputText [(ngModel)]='record.username'
                                placeholder="Kullanıcı adı..." (focus)="focus=true" (blur)="focus=false">
                        </div>
                        <div class="input-group form-group-no-border input-lg"
                            [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="now-ui-icons users_circle-08"></i></span>
                            </div>
                            <input class="form-control" type="text" size="30" pInputText [(ngModel)]='record.name'
                                placeholder="Adınız..." (focus)="focus=true" (blur)="focus=false">
                        </div>
                        <div class="input-group form-group-no-border input-lg"
                            [ngClass]="{'input-group-focus':focus1===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                            </div>
                            <input class="form-control" type="text" size="30" pInputText [(ngModel)]='record.surname'
                                placeholder="Soyadınız..." (focus)="focus1=true" (blur)="focus1=false">

                        </div>
                        <div class="input-group form-group-no-border input-lg"
                            [ngClass]="{'input-group-focus':focus1===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                            </div>
                            <input class="form-control" type="text" size="30" pInputText [(ngModel)]='record.password'
                                placeholder="Şifre..." (focus)="focus1=true" (blur)="focus1=false">

                        </div>
                        <div class="input-group form-group-no-border input-lg"
                            [ngClass]="{'input-group-focus':focus1===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                            </div>
                            <input class="form-control" type="text" size="30" pInputText [(ngModel)]='record.email'
                                placeholder="Mailiniz..." (focus)="focus1=true" (blur)="focus1=false">

                        </div>

                        <div class="pull-left">
                            <h5>
                                <button type="submit" class=" btn btn-primary btn-round"
                                    (click)="addUser(record)">KAYDET </button>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <footer class="footer">
        <footer class="footer" data-background-color="black">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="https://www.creative-tim.com">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="https://www.creative-tim.com/about-us">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                                MIT License
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    &copy;
                    {{data | date: 'yyyy'}}, Designed by
                    <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                    <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
                </div>
            </div>
        </footer>
    </footer>