<div class="row">
  <div class="col-lg-3">
    <p-panel header="Sorgulama Kriteri" [toggleable]="true" [style]="{'margin-bottom':'25px', 'margin-left':'20px'}  ">
      <div class="form-group">
        <span class="ui-float-label" [style]="{'margin-top':'25px'}">
          <input type="text" size="30" pInputText [(ngModel)]='criteria.name'>
          <label for="float-input">Salon Adı</label>
        </span>
      </div>
      <div class="row" style="margin-left: 1px;">
        <button type="submit" class=" btn btn-info btn-round" (click)="getMovieHouse()"> Sorgula
        </button>
        <button type="button" class="btn btn-warning btn-round" (click)="cleanSelectedMovieHouse()"> Temizle
        </button>
        <button class="btn btn-primary btn-round" (click)="openAddDialog( )"> Ekle </button>
      </div>
        <app-cnm-modal #addViewComponent (onConfirm)="addMovieHouse()">
          <ng-template #header > Salon Ekle</ng-template>
          <ng-template #saveTemplate >
                <span class="ui-float-label" [style]="{'margin-top':'25px'}">
                  <input class="form-control"  type="text" pInputText [(ngModel)]="record.addName">
                  <label for="float-input">Salon Adı</label>
                </span>

                <span class="ui-float-label" [style]="{'margin-top':'25px'}">
                  <input class="form-control"  type="text" pInputText [(ngModel)]="record.addCapacity">
                  <label for="float-input">Kapasite</label>
                </span>

          </ng-template>
        </app-cnm-modal>
    </p-panel>
  </div>
  <div class="col-lg-9">
    <p-panel header="Sinema Salonu Listesi" [toggleable]="true" *ngIf='sorgulandi'
      [style]="{'margin-bottom':'25px', 'margin-right':'20px'}">
      <p-table [columns]="cols" [value]="MovieHouses" [autoLayout]="true" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th>Güncelle</th>
            <th>Sil</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{rowData[col.field]}} 
            </td>
            <td>
              <button class="btn btn-warning btn-icon btn-round btn-sm" (click)="openUpdateDialog(rowData, rowData.id)">
                <i class="now-ui-icons shopping_tag-content"></i>
              </button>             
            </td>
            <td>
              <button class="btn btn-danger btn-icon btn-round btn-sm" (click)="openDeleteDialog(rowData.id)">
                <i class="now-ui-icons ui-1_simple-remove"></i>
              </button>              
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>

<app-cnm-modal #updateViewComponent (onConfirm)="updateMovieHouse()">
  <ng-template #header > Salon Bilgileri</ng-template>
  <ng-template #saveTemplate >
      <span class="ui-float-label" [style]="{'margin-top':'25px'}">
        <input class="form-control" type="text" size="30" pInputText [(ngModel)]='record.name'>
        <label for="float-input">Salon Adı</label>
      </span>
      <span class="ui-float-label" [style]="{'margin-top':'25px'}">
        <input class="form-control" type="text" size="30"  pInputText [(ngModel)]='record.capacity'>
        <label for="float-input">Kapasite</label>
      </span>
  </ng-template>
</app-cnm-modal>

<app-cnm-confirm-dialog (onConfirm)="deleteMovieHouse()"></app-cnm-confirm-dialog>