<br/>
<br/>
<br/>
<br/>

<div class="row">
  <div class="col-lg-3">
    <p-panel header="Sorgulama Kriteri" [toggleable]="true" [style]="{'margin-bottom':'20px', 'margin-left':'20px'}  ">
        <div class="form-group">
          <span>
            <input type="text" size="30" pInputText [(ngModel)]='criteria.name' placeholder="Salon Adı">
          </span>
        </div>
        <div class="row" style="margin-left: 1px;">
          <button type="submit" class="btn btn-primary" (click)="getWhereMovieHouse( )"> Sorgula
          </button>
          <button type="button" class="btn btn-primary" (click)="cleanSelectedMovieHouse()"> Temizle
          </button>
          <button class="btn btn-primary" (click)="openAddDialog(classic1)"> Ekle </button>          
        </div>
        <ng-template #classic1 let-c="close" let-d="dismiss">
          <div class="modal-header justify-content-center">
            <button type="button" class="close" (click)="d('Cross click')">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <h4 class="title title-up">Salon Bilgileri Gir</h4>
          </div>
          <div class="modal-body">
            <div class="input-group form-group-no-border input-lg col-lg-12">
              <div class="input-group-prepend">
              </div>
              <div>
                <input id="float-input" type="text" size="30" placeholder="Salon Adı" pInputText
                  [(ngModel)]="record.addName">
              </div>
              <div>
                <input id="float-input" type="text" size="30" placeholder="Kapasite" pInputText
                  [(ngModel)]="record.addCapacity">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="addMovieHouse()">Kaydet</button>
            <button type="button" class="btn btn-danger" (click)="c('Close click')">İptal</button>
          </div>
        </ng-template>
    </p-panel>
  </div>
  <div class="col-lg-9">
    <p-panel header="Sorgulama Sonucu" [toggleable]="true" *ngIf='sorgulandi' [style]="{'margin-bottom':'20px', 'margin-right':'20px'}">
      <p-table [columns]="cols" [value]="MovieHouses" [autoLayout]="true" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td>
            <td>
              <button type="button" class="btn btn-primary btn-icon btn-round btn-sm" (click)="deleteMovieHouse(rowData.id)">
                <i class="now-ui-icons ui-1_simple-remove"></i>
              </button>
            </td>
            <td>
              <button class="btn btn-primary btn-icon btn-round btn-sm" (click)="openUpdateDialog(classic, rowData)">
                <i class="now-ui-icons shopping_tag-content"></i>
              </button>
              <ng-template #classic let-c="close" let-d="dismiss">
                <div class="modal-header justify-content-center">
                  <button type="button" class="close" (click)="d('Cross click')">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
                  <h4 class="title title-up">Salon Bilgileri</h4>
                </div>
                <div class="modal-body">
                  <div class="input-group form-group-no-border input-lg col-lg-12">
                    <div class="input-group-prepend">
                    </div>
                    <div>
                      <input id="float-input" type="text" size="30" placeholder="Salon Adı" pInputText
                        [(ngModel)]='record.name'>
                    </div>
                    <div>
                      <input id="float-input" type="text" size="30" placeholder="Kapasite" pInputText
                        [(ngModel)]='record.capacity'>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="updateMovieHouse(rowData.id)">Kaydet</button>
                  <button type="button" class="btn btn-danger" (click)="c('Close click')">İptal</button>
                </div>
              </ng-template>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>