<div class="row">
  <div class="col-lg-3 col-md-12">
    <p-panel header="Sorgulama Kriteri" [toggleable]="true" [style]="{'margin-bottom':'25px', 'margin-left':'20px'}  ">
      <!-- <button type="submit" class="btn btn-primary btn-simple btn-round" *ngIf='getDate'
        (click)="displayDateTime()">TARİH SEÇ
      </button>-->
      <!-- <span class="ui-float-label" [style]="{'margin-top':'25px'}">
        <p-dropdown id="float-input" [autoDisplayFirst]="false" [options]="displayDates" [(ngModel)]="selectedDates"
          [showClear]="true" (onChange)="onChange($event)"> </p-dropdown>
        <label for="float-input">Tarih</label> 
      </span>-->
      <!--  <span class="ui-float-label" [style]="{'margin-top':'25px'}">
        <p-dropdown id="float-input" [autoDisplayFirst]="false" [options]="movieHouses" [(ngModel)]="queryMovieHouse"
          [showClear]="true" (onChange)="onChange1($event)"></p-dropdown>
        <label for="float-input">Sinema Salonu</label>  </span> -->
      <!--  <span class="ui-float-label" [style]="{'margin-top':'25px'}">
        <p-dropdown id="float-input" [autoDisplayFirst]="false" [options]="sessions" [(ngModel)]="guerySession"
          [showClear]="true"></p-dropdown>
        <label for="float-input">Seans</label>
      </span>-->

      <div class="row">
        <label for="float-input">Tarih Seçiniz</label>
        <div class=" btn-group" *ngFor="let item of displayDates">
          <button type="button" (click)="selectDateTime(item.value)" class="btn btn-primary btn-round"
            style="float:left; margin-top: 25px;">{{item.label}}</button>
        </div>
      </div>
      <div class="row">
        <label for="float-input">Salon Seçiniz </label>
        <div class="btn-group" *ngFor="let item of movieHouses">
          <button type="button" (click)="selectMovieHouse(item.value)" class="btn btn-primary btn-simple btn-round"
            style="float:left;margin-top: 25px;">{{item.label}}</button>
        </div>
      </div>
      <div class="row">
        <label for="float-input">Seans Seçiniz </label>
        <div class="btn-group" *ngFor="let item of sessions">
          <button type="button" (click)="selectSessions(item.value)" class="btn btn-primary btn-simple btn-round"
            style="float:left;margin-top: 25px;">{{item.label}}</button>
        </div>
      </div>
      <div class="row">
        <button type="submit" class=" btn btn-info btn-round" (click)="getVisionMovie()"> Bilet Al
        </button>
      </div>

    </p-panel>
  </div>

  <div class="col-lg-5 col-md-12">
    <div class="legend">
      <span class="glyphicon glyphicon-stop freeSeat"></span> FREE
      <span class="glyphicon glyphicon-ban-circle reservedSeat padding-left"></span> TAKEN
      <span class="glyphicon glyphicon-ok-sign selectedSeat padding-left"></span> SELECTED
    </div>

    <div class="btn-group" *ngFor="let row of seatList" [ngSwitch]="getStatus(row)">
      <span class="seat" (click)="seatClicked(row)" [ngSwitch]="getStatus(row)">
        <button (click)="seatClicked(row)" [ngSwitch]="getStatus(row)">{{row}}</button>
        <span *ngSwitchCase="'selected'" style="background-color: yellow;"></span>
        <span *ngSwitchCase="'reserved'" style="background-color: red;"></span>
      </span>
    </div>
  </div>

  <div class="col-lg-3 col-md-12">
    <div style="float:inherit ;">
      <img src="assets/img/movies/{{movies.posterName}}.jpg" />
    </div>
  </div>
</div>
<!-- <li *ngFor="let item of displayDates">
  <button type="submit" class="btn btn-primary"> {{item | date: 'dd/MM/yyyy'}} </button> </li>  -->