<div class="row">
  <div class="col-lg-3 col-md-12">
    <p-panel header="Sorgulama Kriteri" [toggleable]="true" [style]="{'margin-bottom':'25px', 'margin-left':'20px'}  ">
      <!-- <button type="submit" class="btn btn-primary btn-simple btn-round" *ngIf='getDate'
        (click)="displayDateTime()">TARİH SEÇ
      </button>-->
      <!-- <span class="ui-float-label" [style]="{'margin-top':'25px'}">
        <p-dropdown id="float-input" [autoDisplayFirst]="false" [options]="displayDates" [(ngModel)]="selectedDates"
          [showClear]="true" (onChange)="onChange($event)"> </p-dropdown>
        <label for="float-input">Tarih</label> 
      </span>-->
      <!--  <span class="ui-float-label" [style]="{'margin-top':'25px'}">
        <p-dropdown id="float-input" [autoDisplayFirst]="false" [options]="movieHouses" [(ngModel)]="queryMovieHouse"
          [showClear]="true" (onChange)="onChange1($event)"></p-dropdown>
        <label for="float-input">Sinema Salonu</label>  </span> -->
      <!--  <span class="ui-float-label" [style]="{'margin-top':'25px'}">
        <p-dropdown id="float-input" [autoDisplayFirst]="false" [options]="sessions" [(ngModel)]="guerySession"
          [showClear]="true"></p-dropdown>
        <label for="float-input">Seans</label>
      </span>-->

      <div class="row">
        <label for="float-input">Tarih Seçiniz</label>
        <div class=" btn-group" *ngFor="let item of displayDates">
          <button type="button" (click)="selectDateTime(item.value)" class="btn btn-primary btn-round"
            style="float:left; margin-top: 25px;">{{item.label}}</button>
        </div>
      </div>
      <div class="row">
        <label for="float-input">Salon Seçiniz </label>
        <div class="btn-group" *ngFor="let item of movieHouses">
          <button type="button" (click)="selectMovieHouse(item.value)" class="btn btn-primary btn-simple btn-round"
            style="float:left;margin-top: 25px;">{{item.label}}</button>
        </div>
      </div>
      <div class="row">
        <label for="float-input">Seans Seçiniz </label>
        <div class="btn-group" *ngFor="let item of sessions">
          <button type="button" (click)="selectSessions(item.value)" class="btn btn-primary btn-simple btn-round"
            style="float:left;margin-top: 25px;">{{item.label}}</button>
        </div>
      </div>
      <div class="row">
        <button type="submit" class=" btn btn-info btn-round" (click)="getVisionMovie()"> Bilet Al
        </button>
      </div>

    </p-panel>
  </div>

  <div class="col-lg-5 col-md-12">
    <div style=" display: inline-block; margin: 5px;" *ngFor="let seatItem of seatList">
      <span class="seat">
        <button (click)="seatClicked(seatItem.seat)"
          [ngStyle]="{'background-color': seatItem.status == 'selected' ? 'yellow' : 'red' }">
          {{seatItem.seat}}</button>
      </span>
    </div>
  </div>

  <div class="col-lg-3 col-md-12">
    <div style="float:inherit ;">
      <div class="content-center brand" style="background-image:url(../assets/img/sinema-salon.jpg);height: 240px; width: 400px; text-align:center;">
        <img class="n-logo" style="height: 100px; width: 100px;" src="assets/img/now-logo.png" alt="">
        <h1 class="h1-seo">NeCinema</h1>
        <h4>Sinema biletini online al.</h4>
    </div>
    </div>
  </div>
</div>
<!-- <li *ngFor="let item of displayDates">
  <button type="submit" class="btn btn-primary"> {{item | date: 'dd/MM/yyyy'}} </button> </li>  -->