<div class="container" [value]="movieDetail">
    <div class="row">
        <div class="col-lg-4 col-md-12">
        <div class="container">
            <div class="cellphone-container">
              <div class="movie">
                <div class="movie-img">
                  <img src="assets/img/movies/{{movieDetail.posterName}}.jpg" />
                </div>
              </div>
            </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-12"></div>
        <div class="movie-title">{{movieDetail.name}}</div>
        <div class="movie-subtitle">{{movieDetail.genre}} | {{movieDetail.duration}}</div>
    </div>
    <div class="movie-description">{{movieDetail.description}}</div>
</div>