<div class="container">
  <div class="cellphone-container">
    <div class="movie">
      <div class="movie-img">
        <img src="assets/img/movies/{{imagePath}}.jpg" />
      </div>
      <div class="text-movie-cont">
        <div class="mr-grid">
          <div class="col1">
            <ul class="movie-gen">
              <li>
                Tür: {{genre}},
              </li>
              <li>
                Süre: {{duration}} dk
              </li>
              
            </ul>
          </div>
        </div>
        <div class="movie-gen">
          <div class="col2">
            <h4>
              {{movieName}}
            </h4>
          </div>
          <div class="col2">
              <ng-container *ngTemplateOutlet="detailTemplate">
              </ng-container>
          </div>
        </div>
        <!-- <div class="mr-grid actors-row">
          <div class="col1">
            <p class="movie-actors">
              <ng-container *ngTemplateOutlet="actors"></ng-container>
            </p>
          </div>
        </div> -->
        <div class="mr-grid action-row">
          <div class="col2">
            <ng-container *ngTemplateOutlet="ticketTemplate">
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
